@import "tailwindcss";
@import "@nuxt/ui";

/* Theme variables */
:root {
  --ui-bg: #ffffff;
  --ui-foreground: #18191b;
  --ui-bg-elevated: #ffffff;
  --ui-text-elevated: #242528;
  --ui-bg-accented: #ffffff;
  --ui-text-highlighted: #010b32;
  --ui-primary: #2042cb;
  --ui-text-inverted: #ffffff;
  --ui-bg-muted: #e3e4e8;
  --ui-text-muted: #61636b;
  --ui-bg-soft: #f1f3f4;
  --ui-text-dimmed: #61636b;
  --ui-bg-accent: #e3e7e8;
  --ui-text-accent: #242528;
  --ui-color-danger-500: #bf4040;
  --ui-text-danger: #ffffff;
  --ui-border: #c8ccda;
  --ui-border-muted: #667099;
  --ui-ring: #2042cb;
  --ui-radius: 0.3rem;
}


/* Dark Mode */
.dark {
  --ui-bg: #17181c;
  --ui-text: #ffffff;
  --ui-bg-elevated: #17181c;
  --ui-text-elevated: #ffffff;
  --ui-bg-accented: #0b0c0e;
  --ui-text-highlighted: #ffffff;
  --ui-primary: #2042cb;
  --ui-text-inverted: #ffffff;
  --ui-bg-muted: #2e3038;
  --ui-text-muted: #a1a3aa;
  --ui-bg-soft: #394446;
  --ui-text-dimmed: #a1a3aa;
  --ui-bg-accent: #394446;
  --ui-text-accent: #f2f2f3;
  --ui-color-danger-500: #bf4040;
  --ui-text-danger: #ffffff;
  --ui-border: #667099;
  --ui-border-muted: #667099;
  --ui-ring: #2042cb;
  --ui-radius: 0.3rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}